* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    font-weight: 500;
}

body {
    background-color: rgb(34, 32, 32);
    overflow: hidden;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    10% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(28, 43, 43);
    height: 10vh;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 20px;
    padding-top: 33px;
    padding-bottom: 33px;
    font-size: 1.5rem;
}

.navbar h1 {
    cursor: pointer;
    color: white;
    transition: all 0.3s;

}

.navbar h1:hover {
    color: black;
}

.links {
    list-style: none;
}

.links li {
    display: inline;
    padding-top: 37px;
    padding-bottom: 33px;
    transition: all 0.3s;
}

.links li:hover {
    background-color: gray;
}


/* nav end  */

.map {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0em;
    position: relative;
    /* z-index: 0; */
}


img {
    width: 100%;
    /* object-fit: contain; */

}

.pin {
    /* background: rgb(255, 255, 255); */
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 40%;
}

.pin::before {
    content: '';
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.pin button {
    cursor: pointer;
    color: black;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    background-color: #82828260;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
}

.pin:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.Singapore {
    top: 67%;
    left: 23%;
}

.Timor {
    top: 91%;
    left: 58%;
}

.Myanmar {
    top: 17%;
    left: 12%;
}

.Laos {
    top: 26%;
    left: 22%;
}

.Vietnam {
    top: 22%;
    left: 26%;
}

.Thailand {
    top: 35%;
    left: 20%;
}

.Cambodia {
    top: 42%;
    left: 26%;
}

.Malaysia {
    top: 62%;
    left: 20.5%;
}

.Brunei {
    top: 61%;
    left: 40%;
}

.Indonesia {
    top: 73%;
    left: 39%;
}

.Phillipines {
    top: 33%;
    left: 50.5%;
}

.container {
    display: flex;

}

#rightinfo {
    display: flex;
    top: 93px;
    height: 90vh;
    width: 50%;
    background-color: rgb(34, 32, 32);
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    /* border: white 10px solid; */
}

#rightinfo::-webkit-scrollbar {
    display: none;
}

/* .countrycontent{
    display: flex;
    flex-direction: column;
    background-size: contain;
} */

.flag {
    height: 70px;
    width: 120px;
}

.scale {
    height: 300px;
    width: 300px;
}

.smallermap {
    /* max-height: 300px;
    max-width: 300px; */
    height: 300px;
    width: 300px;
    cursor: pointer;

    /* outline: 2px white solid; */
    /* outline-offset: 5px; */
    /* border: 2px rgba(0, 0, 0, 0.644) solid; */
}

.smallermap:hover {
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}


.mapinfo h2 {
    margin: 8px 0px 3px 0px;
}

.special {
    cursor: pointer;
    transform: scale(2.3) translate(-40%, 15%);
    transition: all 0.5s;
    position: absolute;
    /* top: 40%;
    left: 45%; */
    /* z-index: 11111; */
}



.notspecial {
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s;
    position: static;
    /* z-index: 111; */
}

.notspecial:hover {
    opacity: 0.8;
}


/* .smallermap:hover{
    opacity: 0.7;
    cursor: pointer;
}
 */


.infoheader {
    padding-bottom: 20px;

}


.infoheader p {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: rgb(0, 0, 139); */

    display: inline-block;
    width: 100%;
    line-height: 75px;
    /* text-shadow: 0px 0px 23px rgb(158, 243, 31); */
    /* height: 15vh; */
    color: transparent;
    /* outline: 1px white solid; */

    font-size: 100px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.infoheader h1 {
    color: transparent;

}

/* h2,h1{
    color: transparent;
        -webkit-text-stroke: 0.7px white;
} */

.jhanjhat {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

.viewmore {
    margin: 20px 0px 0px 0px;

}

ol {
    padding-left: 20px;
    padding-bottom: 20px;
}

.mapinfo p,
ol li,
ol p {
    font-size: 20px;
}

.explore {
    /* padding: 20px; */

    /* text-align: center; */
    margin: 10px 0px 0px 15px;
    transition: all 0.3s ease-in-out;
    /* margin-bottom: 20vh; */

}

.explore a {
    color: yellowgreen;
    z-index: 10000;
    /* width:200px; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: 2px yellowgreen solid;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    text-decoration: none;


}

.explore:hover {

    transform: scale(1.1);
}

.explore a:hover {
    cursor: pointer;
    background-color: rgba(137, 130, 130, 0.256);
}

.tour {
    display: flex;

}

/* 
video{
    height: 400px;
    width: 750px;
    margin-bottom: 50px;
} */
video {
    object-fit: fill;
    height: 50vh;
    width: 86vh;
    margin-top: 10px;
    margin-bottom: 50px;
}

#vid {
    box-shadow: 2px 2px 10px black, -2px -2px 10px black, 0px 80px 50px -30px rgba(0, 0, 0, 0.814);
}
